#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}



button{
    width:100px;
    height:100px;
    border-radius:50px;
    background-color:hsl(0, 2%, 19%);
    color:white;
    font-weight: bold;
    cursor:pointer;
}