body{
    margin:0;
    display:flex;
    justify-content: center;
    align-content: center;
    height: 100vw;
    background-color: hsl(0, 0%, 95%);
}



#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 2%, 19%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width:100%;
    padding:25px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: hsl(0, 2%, 75%);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}



button{
    width:100px;
    height:100px;
    border-radius:50px;
    background-color:hsl(0, 0%, 47%);
    color:white;
    font-weight: bold;
    cursor:pointer;
    font-size:3rem;
}
button:hover{
    background-color: hsl(0, 0%, 55%);
}
button:active{
    background-color: hsl(0, 0%, 65%);
}

.operator-btn{
    background-color: hsl(44, 76%, 67%);
}